<form action="/new" method="POST">
  <div>
    <h3>My Message</h3>
    <button><a href="/">Back to messages</a></button>
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
  <div>
    <label for="message">Message</label>
    <input type="text" name="message" id="message" />
  </div>
  <input type="Submit" value="OK" />
</form>
