<form action="/new" method="POST">
  <h3>My Message</h3>

  <label for="name">Name</label>
  <input type="text" id="name" name="name" />

  <label for="message">Message</label>
  <input type="text" name="message" id="message" />

  <input type="Submit" value="OK" />
</form>
